<header class="relative inset-x-0 top-0 ">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <button type="button" class="absolute inline-flex items-center  bg-gray-100   rounded-md px-2 py-2 text-[#004aad] ring-inset ring-white hover:border-solid hover:text-[#3558E6]  transition duration-150 focus:z-10" onclick="history.go(-1)">
              <span class="sr-only">Previous</span>
              <svg class="h-10 w-10  border-[#004aad] border-hidden border-2 rounded-md hover:border-solid hover:text-[#3558E6]  transition duration-500 " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
              </svg>
          </button>
        </div>
           
    </nav>
  
</header>
<div class="flex relative min-h-full flex-col  items-center justify-center px-4 py-12 sm:px-6 lg:px-8 container-div">
    
    <img class="inline-block  rounded-full profile-img relative" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">


    <div class="profile-div flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8 ">


       
        <div class="profile-info">
            <h1>
                Darío Rodríguez
            </h1>
            <p>
                <a href="#">dariorodriguez@gmail.com</a>
            </p>
            <div class=" place-self-start w-full flex flex-row items-center mb-12">
                <div class="justify-start">
                    <b>Descripción:</b><br><p>Ingeniero de telecomunicaciones y voluntario para hablar con quien lo necesite</p>
                </div>
                    
                
            </div>
            <div class="flex-row place-self-start w-full my-2 flex items-center">
                <h3 class="w-[80%]">
                    <b>Horario:</b><br> De lunes a jueves de 12:00 a 18:00
                </h3>

                    
            </div>

        </div>
        
    </div>
    <a type="button" href="../conectar"  class="btn-contact group relative w-[80%] flex justify-center rounded-md  bg-white px-3 py-2 mb-16 text-sm font-semibold transition duration-300 text-[#004aad] hover:bg-[#d1d5db] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        
        Contactar con este usuario
    </a>

    <div class="w-[80%] flex justify-center flex-col my-2 mt-3">
        <div class="py-2 px-3 grid grid-rows-1 grid-cols-3 gap-3 mb-4">
            <span class="font-bold text-black">Estado:</span>
            
            Disponible<span class=" h-4 w-4 rounded-full mr-10 bg-[#4ade80] ml-2 inline-flex self-center items-center"></span>
            
        </div>
        <div class="mb-10 grid ml-3 grid-rows-1 grid-cols-1 gap-3">
            <span class="mr-5  font-bold text-black" >Forma de contactar:</span>
            Correo electrónico
        </div>
       
    </div>  
</div>

