<div class="pointer-events-none fixed inset-x-0 bottom-0 px-6 w-full py-8 pb-6 bg-opacity-50">
    <div class="pointer-events-auto ml-auto  rounded-xl bg-[#fff] p-6 shadow-lg ring-1 ring-[#111827]/10">
      <p class="text-sm leading-6 text-[#111827]"><a href="#" class="font-semibold text-[#4f46e5]">Esta página web usa cookies.</a> Las cookies de este sitio web se usan para personalizar el contenido y ofrecer un servicio de usuarios, para iniciar sesión deberás de aceptar este mensaje.</p>
      <div class="mt-4 flex items-center gap-x-5">
        <button type="button" (click)="aceptarCookies()" class="rounded-md bg-[#004aad] px-3 py-2 text-sm font-semibold text-[#fff] shadow-sm hover:bg-[#2A61AB] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#111827] transition duration-200">Aceptar cookies</button>
        <button type="button" (click)="rechazarCookies()" class="rounded-md text-sm font-semibold px-3 py-2 leading-6 text-[#111827] hover:bg-[#000000] hover:text-[#fff] transition duration-200">Rechazar cookies</button>
      </div>
    </div>
  </div>