<div>
    <header class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <button type="button" class="relative inline-flex items-center  bg-gray-100  transition duration-150 rounded-md px-2 py-2 text-[#004aad] ring-inset ring-white  focus:z-10" onclick="history.go(-1)">
              <span class="sr-only">Previous</span>
              <svg class="h-10 w-10  border-[#004aad] border-hidden border-2 rounded-md hover:border-solid hover:text-[#3558E6] transition duration-500 " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
           
            
            
          </nav>
      
      </header>

      <div class="relative">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
          <!--<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>-->
        </div>
        <div class="py-3 xl:py-28 md:py-8">
          <div class="mx-auto max-w-7xl px-6 lg:px-8 ">

            <div class="mx-auto max-w-2xl text-center">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:text-6xl">Necesitas tener una conversación?</h1>
              <p class="mt-6 text-lg leading-8 text-gray-600 text-black">Conéctate con personas amigables y conversa con alguien cuando lo necesites. Siempre puede haber alguien dispuesto a conversar.</p>
              <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="./lista-usuarios" class="rounded-md bg-[#004aad]  transition duration-150 px-3.5 py-2.5 text-sm font-semibold text-[#fff] shadow-sm hover:bg-[#2A61AB] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Conversar</a>
              </div>
            </div>
            
          </div>
        </div>
        <div class=" bg-gradient-to-r from-[#06b6d4] to-[#2563eb] xl:py-9 lg:py-12">
          <div class="mx-auto max-w-7xl lg:pt-20 px-6 lg:px-8">
            <div class="mx-auto max-w-2xl text-center">
              <h2 class="text-4xl font-bold tracking-tight text-[#fff] sm:text-4xl lg:text-4xl">Ayuda a quien lo necesite!</h2>
              <p class="mt-6 text-lg leading-8 text-[#fff] text-black">Conéctate con personas amigables y conversa con alguien cuando lo necesites. Siempre puede haber alguien dispuesto a conversar.</p>
              <div class="mt-10 flex items-center justify-center gap-x-6">
                <a (click)="abrirModal();" class="rounded-md bg-[#fff]  transition duration-150 px-3.5 py-2.5 text-sm font-semibold text-[#004aad] cursor-pointer shadow-sm hover:bg-[#2A61AB] hover:text-[#fff] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ayuda a dar conversación</a>
              </div>
            </div>
            
          </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
         <!-- <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>-->
        </div>
      </div>
</div>
<app-modal-tlf (cerrar)="cerrarModal($event)" *ngIf="tlfModal"  class="h-full w-full fixed inset-0 bg-gray-500 bg-[#f2f2f2] bg-opacity-10 transition-opacity"></app-modal-tlf>
