<div class="pointer-events-none fixed inset-x-0 bottom-0 px-6 w-full py-8 pb-6 bg-opacity-50">
    <div class="pointer-events-auto ml-auto  rounded-xl bg-[#fff] p-6 shadow-lg ring-1 ring-[#111827]/10">
      <p class="text-sm leading-6 text-[#111827]">This website uses cookies to supplement a balanced diet and provide a much deserved reward to the senses after consuming bland but nutritious meals. Accepting our cookies is optional but recommended, as they are delicious. See our <a href="#" class="font-semibold text-indigo-600">cookie policy</a>.</p>
      <div class="mt-4 flex items-center gap-x-5">
        <button type="button" (click)="cerrarModal()" class="rounded-md bg-[#004aad] px-3 py-2 text-sm font-semibold text-[#fff] shadow-sm hover:bg-[#2A61AB] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#111827]">Aceptar cookies</button>
        <button type="button" class="text-sm font-semibold leading-6 text-[#111827]">Rechazar cookies</button>
      </div>
    </div>
  </div>